allure-pytest==2.8.36
allure-python-commons==2.8.36
attrs==20.3.0
Faker==6.5.0
pre-commit==2.10.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
selenium==3.141.0
virtualenv==20.4.2
webdriver-manager==3.3.0
